<html>
<body>
<p>Hey Jinya Developers,</p>
<p>{{ who }} sent you a feature request, you might want to check it out <a href="{{ link }}">here</a>.</p>
<p>
    Greetings<br/>
    Jinya Trello Bot
</p>
</body>
</html>