<html>
<body>
<p>Hey Jinya Developers,</p>
<p>{{ who }} likes Jinya CMS 😇.</p>
<p>If you would like to read it, here is a custom message from {{ who }}.</p>
<p style="white-space: pre; word-break: keep-all">{{ message }}</p>
<p>
    Greetings<br/>
    Jinya Trello Bot
</p>
</body>
</html>