<html>
<body>
<p>Hey {{ developersName }},</p>
<p>{{ who }} sent you a bug, you might want to check it out <a href="{{ link }}">here</a>.</p>
<p>
    Greetings<br/>
    {{ botName }}
</p>
</body>
</html>